:root {
  --background: white;
}
body {
  background-color: #F8FAFB;
}
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
}
.draggable_container{
  min-height: 150px;
}
.icon_style {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
h5 {
  line-height: 24px;
  font-weight: 400;
}